.table td, .table th {
    vertical-align: middle;
    background-color:lightskyblue;
}

.table td{
    background-color: lightgrey;
}
h2 {
    color: blue;
    margin-left: 20%;
    margin-right: 20%;
}
hr {
    background-color: #ddd;
}
.jumbotron {
    min-height: 100vh;
    padding: 10px;
}

.table-responsive, form{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}